body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000;
    font: #fff;
}

@font-face {
	font-family: 'ghastly-panic';
	src: url('fonts/ghastly-panic.regular.ttf');
}

header {
	height: 50px;
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
	background-color: #000;
    text-align: center;
    padding-right: 5%;
}

header li {
	display: inline-block;
}

ul { 
    padding-left: 0
}

a:link {
	color: #fff;
	text-decoration: none;
}

a:visited {
	color: #fff;
}

a:hover {
	color: #ff0000;
}

main {
    width: 100%;
    margin: 50px auto;
    text-align: center;
}

.land {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;;
    height: auto;
    color: #000;
    margin: 20px auto;
}

.left, .right {
    width: 20%
}

.left li, .right li {
 list-style-type: none;
 padding: 15px 5px;
 text-align: left;
}

.left li {
   text-align: right;
}

.left img {
    padding: 0 5px;
}

.right img {
    padding: 0 10px;
}

.land .center {
    width: 50%;
}


h1 {
    font-family: 'ghastly-panic';
	font-size: 7em;
	padding: 2%;
	letter-spacing: 6px;
	background: -webkit-linear-gradient(rgb(53, 1, 1), rgb(53, 1, 1), rgb(61, 1, 1), #f73f3f, #ff0000, #ffffff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 0;
    margin-top: 10px;
    letter-spacing: 0.05em;
}

h2 {
    color: rgb(90, 88, 88);
    font-size: 1.3em;
}

svg {
    /* margin: 0 auto; */
    display: block;
    padding-left: 5%;
    width: 100%;
}

circle, polygon {
    fill: #fff;
    fill-opacity: 0.01;
    cursor: pointer;
}

.button {
    background-color: darkred;
    color: #fff;
    border-radius: 10%;
    border-color: black;
    padding: 5px 20px;
}

#tooltip {
    background: cornsilk;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
  }

.descrip {
    color: #fff;
    background-color: #000;
    width: 60%;
    margin: 5% auto;
    text-align: center;
    line-height: 1.5em;
}

.creepy-text {
    font-family: 'ghastly-panic';
    font-size: 4em;
    letter-spacing: 0.1em;
}

.creepy-text:last-of-type {
    font-size: 3.5em;
    line-height: 3em;
}

footer {
	height: 25px;
	background-color: darkred;
	margin-top: 3%;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}

p.mobile-display {
    font-size: 0.2em;
}

@media screen and (max-width: 767px) {
    .creepy-text, .creepy-text:last-of-type {
        line-height: 1.5em;
    }

    .land {
        display: flex;
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }

    .left li, .right li {
        text-align: center;
    }
}